GROQ_API_KEY='get your-api-key from groq.com/keys'
ZAI_API_KEY='get your-api-key from z.ai/manage-apikey/apikey-list'
MAIN_ADDR='127.0.0.1' # Change this to you desired hosting address or leave it on this localhost

# copy and save this file as just .env